/* General
------------------------------------------------------------------------------*/

html.open-menu,
html.open-menu body {
    overflow-x: hidden;
}

html.open-menu body {
    overflow-y: hidden;
    height: 100vh;
}

body {
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif !important;
    margin: 0;
    padding: 0;
    font-size: 15px !important;
}

.clear {
    clear: both;
}

a.underline {
    text-decoration: underline !important;
}

.pad0 {
    padding: 0px !important;
}

.height5 {
    height: 5px;
}

.height10 {
    height: 10px;
}

.height15 {
    height: 15px;
}

.height20 {
    height: 20px;
}

.margin0 {
    margin: 0px !important;
}

.marginT0 {
    margin-top: 0px !important;
}

.marginT10 {
    margin-top: 10px !important;
}

.marginB0 {
    margin-bottom: 0px !important;
}

.marginL0 {
    margin-left: 0px !important;
}

.marginLR0 {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.padR0 {
    padding-right: 0px !important;
}

.padL0 {
    padding-left: 0px !important;
}

.alignC {
    text-align: center !important;
}

.alignL {
    text-align: left !important;
}

.alignR {
    text-align: right !important;
}

.floatL {
    float: left !important;
}

.floatR {
    float: right !important;
}

.width100 {
    width: 100% !important;
}

.displayNone {
    display: none;
}

a:hover {
    text-decoration: none !important;
}

.text-orange {
    color: #e5801d !important;
}

.sideb-level1 {
    position: relative;
    left: 20px;
}

.sideb-level2 {
    position: relative;
    left: 35px;
}

a.downloads,
.sidebar a {
    -webkit-transition: color .2s ease-out, background 0.5s linear;
    -moz-transition: color .2s ease-out, background 0.5s linear;
    -ms-transition: color .2s ease-out, background 0.5s linear;
    -o-transition: color .2s ease-out, background 0.5s linear;
    transition: color .2s ease-out, background 0.5s linear;
}

a.downloads,
a.downloads-v {
    width: 80%;
    padding: 5px 15px;
    border: 1px solid #005373;
    color: #005373;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 13px;
}

a.downloads-v {
    cursor: default;
}

.pensioner a.downloads {
    margin-bottom: 10px;
}

.pensioner p {
    line-height: 35px;
}

a.downloads:hover {
    background-color: #005373;
    color: #fff;
}

p.manuals {
    /*min-height:50px;*/
}

.textBlue {
    color: #005373;
}

.font-calibri {
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

.italic {
    font-style: italic;
}

table.no-border {
    margin-bottom: 0px !important;
}

table.no-border tr,
table.no-border td {
    border: none;
    padding: 0 10px;
}


/* Icon Sprite
------------------------------------------------------------------------------*/

.icon {
    display: inline-block;
    line-height: 1em;
    background-color: transparent;
    background-image: url("../../images/icon-sprite.png");
    background-size: 300px 300px;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}


/* Retina icon sprite */

@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
only screen and (-o-min-device-pixel-ratio: 13/10),
only screen and (min-resolution: 120dpi) {
    /* .icon {
      background-image: url("../../images/icon-sprite@2x.png");
    } */
}


/* Specific icon style */

.icon-home {
    width: 17px;
    height: 15px;
    background-image: url("../../images/icon-home.png") no-repeat;
}

.icon-assurance {
    width: 25px;
    height: 25px;
    background-position: 0 -100px;
}

.icon-financial-control {
    width: 25px;
    height: 25px;
    background-position: -100px -100px;
}

.icon-financial-reporting {
    width: 21px;
    height: 24px;
    background-position: -200px -100px;
}

.icon-treasury {
    width: 21px;
    height: 23px;
    background-position: 0px -150px;
}

.icon-links {
    width: 25px;
    height: 25px;
    background-position: -100px -200px;
}

.menu > li:first-child:hover a .icon-home,
.menu > li.active .icon-home {
    background: url("../../images/icon-home-hover.png") no-repeat;
}


/* Reusable Style
------------------------------------------------------------------------------*/

.container {
    width: 100%;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

li.accordion-group {
    margin-bottom: 2px;
}

.news-link {
    display: inline-block;
    font-style: italic;
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.nav > li {
    position: relative;
    display: block;
}

.collapse.in {
    display: block !important;
}

.nav > li > a,
.tabs-overview .accordion-heading {
    font-family: "segoeui_regular" !important;
    text-align: center;
    background-color: #005373;
    color: #fff;
}

.tabs-overview .accordion-heading {
    padding: 5px 0;
}

.tabs-overview .accordion-heading a {
    color: #fff;
}

.tabs-overview.accordion li {
    border: 2px solid #005373;
}

.tabs-overview.accordion li > .accordion-body {
    padding: 7px;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    color: #555555 !important;
    background-color: #ffffff !important;
    border: 2px solid #005373 !important;
    border-bottom: none !important;
}

.nav > li.disabled > a {
    color: #777777;
}

.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
    color: #777777;
    text-decoration: none;
    background-color: transparent;
    cursor: not-allowed;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #eeeeee;
    border-color: #337ab7;
}

.nav .nav-divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.nav > li > a > img {
    max-width: none;
}

.nav-tabs {
    border-bottom: none !important;
}

.nav-tabs.tabs-article > li {
    height: 46px;
}

.nav-tabs > li {
    display: table !important;
    margin-right: 2px;
}

.nav-tabs > li > a {
    height: 100%;
    display: table-cell !important;
    vertical-align: middle;
    border: 2px solid transparent !important;
    border-bottom: none !important;
    border-radius: 0 !important;
    padding: 5px 0 !important;
    line-height: 16px !important;
    -webkit-transition: color .2s ease-out, background 0.5s linear;
    -moz-transition: color .2s ease-out, background 0.5s linear;
    -ms-transition: color .2s ease-out, background 0.5s linear;
    -o-transition: color .2s ease-out, background 0.5s linear;
    transition: color .2s ease-out, background 0.5s linear;
}

.nav-tabs > li > a:hover {
    border-color: #eeeeee #eeeeee #dddddd;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #555555;
    background-color: #ffffff;
    border: 2px solid #005373 !important;
    border-bottom: transparent !important;
    cursor: default;
}

.nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
}

.nav-tabs.nav-justified > li {
    float: none;
}

.nav-tabs.nav-justified > li > a {
    text-align: center;
    margin-bottom: 5px;
}

.nav-tabs.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}

@media (min-width: 768px) {
    .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-tabs.nav-justified > li > a {
        margin-bottom: 0;
    }
}

.nav-tabs.nav-justified > li > a {
    margin-right: 0;
    border-radius: 4px;
}

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
    border: 1px solid #dddddd;
}

@media (min-width: 768px) {
    .nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid #dddddd;
        border-radius: 4px 4px 0 0;
    }
    .nav-tabs.nav-justified > .active > a,
    .nav-tabs.nav-justified > .active > a:hover,
    .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #ffffff;
    }
}

.nav-pills > li {
    float: left;
}

.nav-pills > li > a {
    border-radius: 4px;
}

.nav-pills > li + li {
    margin-left: 2px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #ffffff;
    background-color: #337ab7;
}

.nav-stacked > li {
    float: none;
}

.nav-stacked > li + li {
    margin-top: 2px;
    margin-left: 0;
}

.nav-justified {
    width: 100%;
}

.nav-justified > li {
    float: none;
}

.nav-justified > li > a {
    text-align: center;
    margin-bottom: 5px;
}

.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}

@media (min-width: 768px) {
    .nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-justified > li > a {
        margin-bottom: 0;
    }
}

.nav-tabs-justified {
    border-bottom: 0;
}

.nav-tabs-justified > li > a {
    margin-right: 0;
    border-radius: 4px;
}

.nav-tabs-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus {
    border: 1px solid #dddddd;
}

@media (min-width: 768px) {
    .nav-tabs-justified > li > a {
        border-bottom: 1px solid #dddddd;
        border-radius: 4px 4px 0 0;
    }
    .nav-tabs-justified > .active > a,
    .nav-tabs-justified > .active > a:hover,
    .nav-tabs-justified > .active > a:focus {
        border-bottom-color: #ffffff;
    }
}

@keyframes fade-out {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0.3;
    }
    60% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

.tab-content > .tab-pane {
    display: none;
}

.tab-content > .active {
    display: block;
    animation: fade-out .5s 1;
}

.nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}


/* Header
------------------------------------------------------------------------------*/

header {
    overflow: hidden;
}

.logo,
.logo img {
    line-height: 1em;
}

.logo-agd {
    padding: 16px 0;
}

#top-right {
    text-align: right;
}

.logo-gov {
    margin-top: 14px;
}

#top-right ul {
    margin: 0 0 8px;
    padding: 0;
}

#top-right li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 1em;
    line-height: 1em;
}

#top-right li a {
    font-size: 0.85em;
    color: #7d7d7d;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1;
}

#top-right li + li {
    padding-left: 4px;
    border-left: solid 1px #7d7d7d;
}

.font-size,
.font-size + div {
    display: inline-block;
}

.font-size {
    margin-right: 5px;
}

.font-size .button {
    font-size: 1.1em;
    padding: 0;
    min-width: none;
    height: auto;
    line-height: 1;
    border: none;
}

.font-size .button + .button {
    padding-left: 5px;
    border-left: solid 1px #ccc;
}

#top-right form {
    margin: 0;
}

#top-right input,
#top-right button[role="submit"] {
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0;
}

#top-right input {
    padding: 0 8px;
    width: 92px;
}

#top-right button[role="submit"] {
    float: right;
    width: 30px;
    margin-left: 3px;
    font-size: 0.9em;
    font-weight: normal;
    text-transform: none;
    letter-spacing: normal;
    color: #fff;
    background-color: #e5801d;
    border: none;
}


/* Main Navigation
------------------------------------------------------------------------------
*/

#toggle {
    display: none;
    padding: 15px 0;
}

.toggle,
[id^=drop] {
    display: none;
}

nav {
    margin: 0;
    padding: 0;
}

#logo {
    display: block;
    padding: 0 30px;
    float: left;
    font-size: 20px;
    line-height: 60px;
}

nav:after {
    content: "";
    display: table;
    clear: both;
}

nav ul {
    float: left;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

nav ul li {
    margin: 0px;
    display: inline-block;
    float: left;
}

nav a,
nav label {
    font-size: 13px !important;
}

nav a {
    display: inline-block;
    padding: 0 5px;
    color: #005373;
    min-height: 30px;
    line-height: 30px;
    text-decoration: none;
    font-weight: bold;
}

nav ul.menu > li {
    margin: 0 18px;
}

nav ul.menu > li:first-child {
    margin: 0;
}


/* nav ul.menu li ul a:before{
    position: absolute;
    content: "•";
    left: 6px;
} */

nav ul.menu li ul a {
    font-size: 12px;
    min-width: 170px;
    padding: 6px 3px 6px 15px !important;
    line-height: 1.2em !important;
    min-height: 18px;
    color: #FFF;
    background-color: rgba(0, 83, 115, .7);
    border-top: solid 1px #003753;
}

nav ul.menu li a {
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

nav ul.menu li:hover > a,
nav ul.menu li.active > a {
    color: #FFF;
    background-color: #005373 !important;
    text-decoration: none;
}

nav ul.menu li ul li:hover>a {
    background-color: #e5801d !important;
}

nav ul li ul li:hover {
    background: #005373;
    color: #FFF;
}

nav a:hover {
    background-color: #005373;
    color: #FFF;
}

nav ul ul {
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -ms-transform: translateY(10%);
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
    -webkit-transition: all 0.5s ease 0s, visibility 0s linear 0.5s;
    -moz-transition: all 0.5s ease 0s, visibility 0s linear 0.5s;
    -o-transition: all 0.5s ease 0s, visibility 0s linear 0.5s;
    transition: all 0.5s ease 0s, visibility 0s linear 0.5s;
    opacity: 0;
    visibility: hidden;
    /* hides sub-menu */
    position: absolute;
    top: 100%;
}

li.level-2 > a:after {
    position: absolute;
    right: 5px;
    content: ">";
    top: 50%;
    -webkit-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
}

li.level-2 ul {
    top: 0;
    left: 100%;
    border-left: solid 1px #003753;
}

nav ul li:hover > ul {
    opacity: 1;
    -ms-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition-delay: 0s;
    /* Safari */
    transition-delay: 0s;
    visibility: visible;
    z-index: 999;
}

nav ul ul li {
    width: 170px;
    float: none;
    display: list-item;
    position: relative;
}

nav ul ul ul li {
    position: relative;
}

li > a:only-child:after {
    content: '';
}

.toggle,
input[type="checkbox"] {
    display: none;
}

label#burger-menu,
#burger-menu {
    text-align: left;
    color: #005373;
    font-size: 50px;
    cursor: pointer;
    display: none;
    -webkit-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -ms-transition: all ease-out 0.3s;
    -o-transition: all ease-out 0.3s;
    transition: all ease-out 0.3s;
}


/* label#burger-menu,#burger-menu i{
	vertical-align: middle;
} */


/* Media Queries
--------------------------------------------- */

@media all and (max-width: 800px) {
    .article-holder {
        padding: 20px !important;
    }
    #toggle {
        display: block;
    }
    #body,
    footer {
        -webkit-transition: all ease-out 0.3s;
        -moz-transition: all ease-out 0.3s;
        -ms-transition: all ease-out 0.3s;
        -o-transition: all ease-out 0.3s;
        transition: all ease-out 0.3s;
    }
    label#burger-menu,
    #burger-menu {
        display: block;
        font-size: 25px !important;
        margin: 0px;
        padding-top: 5px;
    }
    label.toggle {
        margin-bottom: 0;
    }
    nav {
        position: fixed;
        width: 250px;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        overflow-y: auto;
        border-right: 2px solid #E0DEDE;
        -webkit-transform: translateX(-250px);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(-250px);
        /* IE 9 */
        transform: translateX(-250px);
        -webkit-transition: all ease-out 0.3s;
        -moz-transition: all ease-out 0.3s;
        -ms-transition: all ease-out 0.3s;
        -o-transition: all ease-out 0.3s;
        transition: all ease-out 0.3s;
    }
    nav ul {
        text-align: left;
        background-color: transparent;
    }
    #mobile-logo {
        height: 40px;
    }
    #search-logo {
        display: none;
    }
    #mobile-logo,
    #search-logo {
        -webkit-transition: all ease-out 0.3s;
        -moz-transition: all ease-out 0.3s;
        -ms-transition: all ease-out 0.3s;
        -o-transition: all ease-out 0.3s;
        transition: all ease-out 0.3s;
    }
    div#toggle {
        -webkit-transition: all ease-out 0.3s;
        -moz-transition: all ease-out 0.3s;
        -ms-transition: all ease-out 0.3s;
        -o-transition: all ease-out 0.3s;
        transition: all ease-out 0.3s;
    }
    html.open-menu div#toggle,
    html.open-menu div#body,
    html.open-menu footer {
        -webkit-transform: translateX(250px);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(250px);
        /* IE 9 */
        transform: translateX(250px);
        /* Firefox 16+, IE 10+, Opera */
    }
    #logo {
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
        float: none;
    }
    nav ul.menu li a:before {
        content: "";
    }
    nav ul.menu > li {
        margin: 0 5px;
    }
    nav {
        margin: 0;
    }
    .toggle + a {
        display: none;
    }
    nav a,
    .toggle {
        display: block;
        padding: 10px;
        color: #005373;
        line-height: 20px;
        text-decoration: none;
        border: none;
        font-weight: 700;
    }
    .toggle:hover {
        background-color: #000000;
    }
    [id^=drop]:checked + ul {
        display: block;
    }
    #open-main-menu:checked + nav {
        display: block;
    }
    nav ul li {
        display: block;
        width: 100%;
    }
    nav ul ul ul a {
        padding: 0 80px;
    }
    nav a:hover,
    nav ul ul ul a {
        background-color: #000000;
    }
    nav ul li ul li .toggle,
    nav ul ul a {
        background-color: transparent;
    }
    nav ul ul {
        -webkit-transition: all ease-out 0.3s;
        -moz-transition: all ease-out 0.3s;
        -ms-transition: all ease-out 0.3s;
        -o-transition: all ease-out 0.3s;
        transition: all ease-out 0.3s;
        -ms-transform: translateY(0%);
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        float: none;
        position: static;
        color: #ffffff;
        display: none;
        top: 0px;
        visibility: visible;
        opacity: 1;
    }
    /*nav ul ul li:hover > ul,
	nav ul li:hover > ul { display: none; }*/
    nav ul ul li {
        display: block;
        width: 100%;
    }
    nav ul ul ul li {
        position: static;
    }
    html.open-menu nav {
        z-index: 3;
        -webkit-transform: translateX(0);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);
        /* IE 9 */
        transform: translateX(0);
        background-color: #fff;
    }
    .toggle:hover {
        background-color: #005373;
        color: #fff;
    }
    nav ul.menu li ul a,
    li.level-2 label {
        font-size: 12px;
        min-width: 170px;
        padding: 6px 3px 6px 15px !important;
        line-height: 1.2em !important;
        min-height: 18px;
        color: #e5801d;
        background-color: transparent;
        border: none !important;
    }
    li.level-2 > label:after {
        position: absolute;
        right: 5px;
        content: ">";
    }
    li.level-2 ul {
        padding-left: 20px;
        border: none !important;
    }
    li.level-2 ul > a {
        border: none !important;
    }
    nav ul li ul li:hover {
        background-color: transparent;
    }
}

@media all and (max-width: 667px) {
    #mobile-logo {
        height: 35px;
        width: auto !important;
    }
    #search-logo {
        margin-top: 5px;
        height: 25px;
        width: auto !important;
    }
    label#burger-menu,
    #burger-menu {
        font-size: 25px;
    }
    nav ul li {
        display: block;
        width: 94%;
    }
    label#burger-menu,
    #burger-menu {
        font-size: 25px;
    }
}


/* ----------- iPhone 6 ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
    label#burger-menu,
    #burger-menu {}
}


/* Footer
------------------------------------------------------------------------------*/

footer {
    border-top: solid 2px #e5801c;
}

footer .first {
    background: #ececec;
    padding: 20px 0;
}

.footer-menu {
    margin-bottom: 20px;
}

.footer-menu li {
    list-style: none;
    margin: 0;
}

.footer-menu li *,
footer p {
    margin: 0;
    font-size: 0.85em;
}

footer h3 {
    margin-bottom: 5px;
    font-size: 0.85em;
    font-weight: bold;
    color: #005373;
}

.footer-menu a,
footer p {
    color: #7d7d7d;
    text-decoration: none;
}

footer .date-updated {
    text-align: right;
    position: absolute;
    right: 0;
    bottom: -10px;
}

.second {
    padding: 10px 0;
}

.bottom-menu {
    margin: 0;
    list-style: none;
}

.bottom-menu li {
    display: block;
    float: left;
    margin: 0;
    height: 12px;
    line-height: 12px;
}

.bottom-menu li + li {
    border-left: solid 1px #7d7d7d;
    padding-left: 5px;
    margin-left: 5px;
}

.bottom-menu a {
    display: block;
    font-size: .85em;
    line-height: 1em;
    color: #7d7d7d;
    text-decoration: none;
}

p.copy {
    font-size: 0.85em;
    line-height: 1em;
    text-align: right;
}


/* ------- tipus --------- */

.casd {
    position: relative;
    margin: auto;
    text-align: center;
}


/* ----------- level 3 -------------


li.level-2 > a:after {
    position: absolute;
    right: 5px;
    content: ">";
    top: 50%;
    -webkit-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
}

li.level-2 ul {
    top: 0;
    left: 100%;
    border-left: solid 1px #003753;
}

    nav ul.menu li ul a,
    li.level-2 label {
        font-size: 12px;
        min-width: 170px;
        padding: 6px 3px 6px 15px !important;
        line-height: 1.2em !important;
        min-height: 18px;
        color: #e5801d;
        background-color: transparent;
        border: none !important;
    }
    li.level-2 > label:after {
        position: absolute;
        right: 5px;
        content: ">";
    }
    li.level-2 ul {
        padding-left: 20px;
        border: none !important;
    }
    li.level-2 ul > a {
        border: none !important;
    }
    nav ul li ul li:hover {
        background-color: transparent;
    }
}

------------------------- */


/* ------------- collapse panel ----------- */


/*
        #collapcontent1{
            visibility: hidden;
            display:none;
        }
        #collapcontent2{
            visibility: hidden;
            display:none;
        }
        #collapcontent3{
            visibility: hidden;
            display:none;
        } */

.CollapsiblePanelContent {
    border: 1px solid blue;
    padding: 10px;
}

.CollapsiblePanelTab {
    background-color: #CCCCFF;
    padding: 5px;
    width: 100%;
}

.hideContent {
    visibility: hidden;
    display: none;
}

.CollapsiblePanelTabTable {
    border: 0px;
}