@import url('reset.css');
a {line-width:0;}
body {
	text-align:center;
	font-family:Arial,San-serif;
}


div#footer {clear:both; overflow:hidden;margin:0 0 0 0;}
div#footer hr {width:100%;margin:0 0 10px 10px;text-align:left;border: 1px dotted #54add6;border-style:none none dotted; padding-left:20px;}
div#footer ul {font-family:Arial,Verdana;font-size:13px;float:left;}
div#footer ul li{padding-bottom: 5px;}
div#footer ul li a{color:#4c4c4c;text-decoration:none;margin:0 20px 0 40px; cursor:hand; pointer:hand;}
div#footer ul li span{color:#4c4c4c;text-decoration:none;margin:0 20px 0 40px; cursor:default; pointer:default;}
div#footer ul li span.header{color:#d57304;}
div#footer a:hover{text-decoration:underline;}
div#footer a.header:hover{text-decoration:none;}
div#footer ul#social {float:right; margin-right:15px;text-align:right; margin-top:20px;}
div#footer ul#social li{width: 150px;}
div#footer ul#social li a{margin:0;padding:0;}
div#footer ul#social li.findus {padding:9px 0 0 0; width:75px;}
div#footer p#datestamp {
    color: #A7A7A7;
    float: right;
    font-size: 11px;
    margin-right: 15px;
    padding: 10px 0 24px;
}


div#footer div#lowerfooter {clear:both;overflow:hidden;}
div#footer div#lowerfooter ul{margin:0 0 0 2px;width:100%;background-color:#f3f3f3; padding-left:10px;}
div#footer div#lowerfooter ul li{float:left;font-size:11px;padding: 12px 5px 12px 0;}
div#footer div#lowerfooter ul li.copyright {float:right;margin:0 15px 0 0;}
div#footer div#lowerfooter ul li a{margin:0;color:#d67500}
div#footer div#lowerfooter ul li a:hover{text-decoration:underline}


