/* CSS Document */


/*Contact Info*/
div#rightContactInfo {font-family:Arial,san-serif;margin:20px 0 0 0;padding:0 0 0 30px;width:700px;border-left:1px dotted #168fc7;float:left;}
div#rightContactInfo h3 {color: #0E5376;float: left;font-size: 18px;padding-bottom: 15px;}
div#rightContactInfo h4 {font-size:12px;font-weight:bold;color:#0e5376;line-height:25px;padding:20px 0 0 0;}
div#rightContactInfo hr {width:100%;margin:0px 0 10px 0;text-align:left;border: 1px dotted #54add6;border-style:none none dotted;}
div#rightContactInfo p {font-size:12px;margin:0 10px 0 0;line-height:25px;color:#000000; }
div#rightContactInfo ul {font-size:12px;color:#000000;margin:0;}
div#rightContactInfo ul li {line-height:25px;padding:0 0 0 0;clear:both;}
div#rightContactInfo ul li a{font-weight:bold;text-decoration:none;color:#0e5376;}
div#rightContactInfo ul li span{display:block;float:left;width:200px;}
div#rightContactInfo table {width: 400px;}
div#rightContactInfo table tr.even {background-color:#f2f2f2;}
div#rightContactInfo table tr td {font-size: 12px; font-weight:bold; color:#000000; padding: 6px 0;}
div#rightContactInfo table tr td.fcol {width: 220px;}
div#rightContactInfo table tr td.lcol {width: 150px;}
div#rightContactInfo table tr td a{font-weight:bold;text-decoration:none;color:#D67500;}
div#rightContactInfo table tr td a:hover{text-decoration:underline;}
div#rightContactInfo table.contactnum tr td {font-weight:normal;}
div#rightContactInfo table.contactnum tr td.fcol{width: 40px;}
div#rightContactInfo table.contactnum tr td.colon{width: 40px;}
div#rightContactInfo table.contactnum tr td.colon{width: 40px;}
div#rightContactInfo iframe{position:absolute;top:300px;right:70px;border:1px solid #000000;}

/*Feedback*/
div#rightFeedback {font-family:Arial,san-serif;margin:20px 0 0 0;padding:0 0 0 30px;width:700px;border-left:1px dotted #168fc7;float:left;min-height:340px;}
div#rightFeedback h3 {color: #0E5376;float: left;font-size: 18px;padding-bottom: 15px;}
div#rightFeedback h4 {font-size:12px;font-weight:bold;color:#0e5376;line-height:25px;padding:20px 0 0 0;}
div#rightFeedback hr {width:100%;margin:0 0 10px 0;text-align:left;border: 1px dotted #54add6;border-style:none none dotted;}
div#rightFeedback p {font-size:12px;margin:0 10px 0 0;line-height:25px;color:#000000; }
div#rightFeedback a{font-weight:bold;text-decoration:none;color:#D67500;}
div#rightFeedback a:hover{text-decoration:underline;}

/*Privacy Statement*/
div#rightPrivacyStatement {font-family:Arial,san-serif;margin:20px 0 0 0;padding:0 0 0 30px;width:700px;border-left:1px dotted #168fc7;float:left;}
div#rightPrivacyStatement h3 {color: #0E5376;float: left;font-size: 18px;padding-bottom: 15px;}
div#rightPrivacyStatement hr {width:100%;margin:0 0 10px 0;text-align:left;border: 1px dotted #54add6;border-style:none none dotted;}
div#rightPrivacyStatement p {font-size:12px;margin:0 10px 0 0;line-height:25px;color:#000000; }
div#rightPrivacyStatement ol {font-size:12px;color:#000000;margin:0 0 0 20px;}
div#rightPrivacyStatement ol li {list-style-type:decimal;line-height:25px;padding:0 0 10px 10px;clear:both;}

/*Terms of Use*/
div#rightTerms {font-family:Arial,san-serif;margin:20px 0 0 0;padding:0 0 0 30px;width:700px;border-left:1px dotted #168fc7;float:left;}
div#rightTerms h3 {color: #0E5376;float: left;font-size: 18px;padding-bottom: 15px;}
div#rightTerms h4 {font-size:12px;font-weight:bold;color:#000000;line-height:25px;text-transform:uppercase;margin:12px 0 0px 0;}
div#rightTerms hr {width:100%;margin:0 0 10px 0;text-align:left;border: 1px dotted #54add6;}
div#rightTerms p {font-size:12px;margin:0 10px 15px 0;line-height:25px;color:#000000; }
div#rightTerms p.bold {font-weight:bold;}

/*Sitemap*/
div#rightSitemap {font-family:Arial,san-serif;margin:20px 0 0 0;padding:0 0 0 30px;width:700px;border-left:1px dotted #168fc7;float:left;}
div#rightSitemap h3 {color: #0E5376;float: left;font-size: 18px;padding-bottom: 15px;}
div#rightSitemap h4 {font-size:12px;font-weight:bold;color:#000000;line-height:25px;text-transform:uppercase;}
div#rightSitemap hr {width:100%;margin:0 0 10px 0;text-align:left;border: 1px dotted #54add6;border-style:none none dotted;}
div#rightSitemap ul {float:left;width:226px;font-size:12px;margin:0;padding:0 0 0px 0;}
div#rightSitemap ul li {line-height:25px;background:url(../images/bullet_sitemap.jpg) no-repeat 0 8px;padding: 0 0 0 20px; clear:both;}
div#rightSitemap ul li.header {background:none;padding:0;font-weight:bold;color:#0e5376;}
div#rightSitemap ul li a{color:#000000;text-decoration:none;}
div#rightSitemap ul li a:hover{text-decoration:underline;}
div#rightSitemap ul li ul {margin-left: 20px;}
div#rightSitemap div {clear:both;margin-bottom: 40px;}