/* CSS Document */

/* Join Us common */
div#right {font-family:Arial,san-serif;margin:20px 0 0 0;padding:0 0 0 30px;width:700px;border-left:1px dotted #168fc7;float:left;}
div#right h2 {font-size:18px;font-weight:bold;color:#0e5376;padding: 0 0 8px 0;}
div#right h3 {font-size:16px;color:#0e5376;padding: 0 0 3px 0;font-weight:normal;}
div#right h4 {font-size:13px;font-weight:bold;color:#0e5376;padding:10px 0 0 0;}
div#right hr {width:100%;margin:10px 0 10px 0;text-align:left;border: 1px dotted #54add6;border-style:none none dotted;}
div#right p {font-size:12px;margin:0px 10px 10px 0;line-height:25px;color:#000; }
div#right ul {font-size:12px;color:#7f7f7f;margin:0 0 10px 15px;}
div#right ul li {line-height:25px;list-style-type:disc;padding:0 0 0 20px;}
div#right input {font-family:Arial,san-serif;background: url("../images/applynowbg.png") no-repeat scroll 0 0 transparent;border: medium none; padding: 5px 0;width: 132px;font-weight: bold;color: #005273; text-transform: uppercase;cursor: pointer; }
div#right a {font-size:12px;color:#d67500;text-decoration:none;}
div#right img {float:left;margin:0;padding:0 10px 0 0;display:block;}

/* Overview */
div#maincontent div.overview h4 {font-size:13px;margin-left: 20px; font-weight:bold;color:#0e5376;padding:0;line-height:10px;}
div#maincontent div.overview p {font-size:12px;margin:10px 10px 0 0;line-height:20px;color:#000;}
div#maincontent div.overview ul {font-size:12px;color:#000;margin:20px 0 0 0;padding:0;}
div#maincontent div.overview ul li {line-height:25px;padding:0;clear:both;height:125px; list-style-type:none;}
div#maincontent div.overview hr {margin-bottom: 24px;}
div#maincontent ul p{font-size:12px;margin:10px 10px 0 40px;line-height:20px;color:#000; width:420px;}
div#maincontent ul {font-size:12px;color:#000;}
div#maincontent ul li div.post-image-holder{width: 181px; float:left;}
div#maincontent ul li div.post-details-holder{ width: 500px; float:left; padding-left:10px;}
div#maincontent ul li div.post-details-holder a {font-weight:bold;text-decoration:none;color:#e68629; margin-left: 20px;}
div#maincontent ul li div.post-details-holder a:hover {text-decoration:underline;}
div#maincontent ul li div.post-details-holder p {margin-left: 20px;}

/* Internship */
div#maincontent div.internship h4 {font-size:13px;font-weight:bold;color:#0e5376;}
div#maincontent div.internship p {font-size:12px;margin:5px 10px 0 0;line-height:20px;color:#000; width:100%;}
div#maincontent div.internship ul#interns {font-size:12px;color:#7f7f7f;margin:20px 0 0 0;}
div#maincontent div.internship ul#interns li {line-height:25px;padding:10px 0; clear:both; list-style-type:none; overflow:hidden;}
div#maincontent div.internship ul#interns li.noimages {line-height:25px;clear:both; list-style-type:none; overflow:hidden; padding:4px 0;}
div#maincontent div.internship ul#interns li p{line-height:20px;}
div#maincontent div.internship ul#interns div.post-image-holder{width: 181px; float:left;}
div#maincontent div.internship ul#interns div.post-details-holder{ width: 500px; float:left; padding-left:10px;}
div#maincontent div.internship ul#interns div.post-details-holder h4 {font-size:13px;margin-left: 20px; font-weight:bold;color:#0e5376;padding:0 0 10px 0;line-height:10px;}
div#maincontent div.internship ul#interns div.post-details-holder p {font-size:12px;margin:0 10px 0 20px;line-height:20px;color:#000; width:490px;}
div#maincontent div.internship ul#interns div.post-details-holder a {font-weight:bold;text-decoration:none;color:#e68629; margin-left:20px;}

/* Who we look for */
div#maincontent div.whowelookfor h4#available_positions {color:#808080; padding:0 0 15px 0; line-height:20px;}
div#maincontent div.whowelookfor table {width: 100%;}
div#maincontent div.whowelookfor table a:hover{text-decoration:underline;}
div#maincontent div.whowelookfor table tr.space td{border:none; padding:4px 0;}
div#maincontent div.whowelookfor table th {background: #808080;color: #000000; font-weight:bold; font-size: 11px; padding:5px 0 5px 5px; margin-bottom: 10px;}
div#maincontent div.whowelookfor table th.position {width: 310px; }
div#maincontent div.whowelookfor table td {border-top: 1px dashed #dddddd;}
div#maincontent div.whowelookfor table ul {margin:-5px; padding:15px;}
div#maincontent div.whowelookfor table ul li{list-style-type:none; line-height:15px; clear:both;color:#000000; font-size: 11px;}
div#maincontent div.whowelookfor table tr td.lookingfor{width:300px; padding-top:20px;}
div#maincontent div.whowelookfor table ul li.timestamp{color:#999999;}
/*div#maincontent div.whowelookfor a{font-size: 16px; color: #4054ce; font-weight: bold;}*/
div#maincontent div.whowelookfor table td p{color: #000000;}
div#maincontent div.whowelookfor div#backtotop {padding:5px 0;}
div#maincontent div.whowelookfor div#backtotop a{font-size:11px;text-decoration:underline;}