/* People Common CSS */
div#right {font-family:Arial,san-serif;margin:20px 0 0 0;padding:0 0 0 30px;width:700px;border-left:1px dotted #168fc7;float:left;}
div#right h2 {font-size:18px;font-weight:bold;color:#0e5376;padding: 0 0 8px 0;}
div#right h3 {font-size:16px;color:#0e5376;padding: 0 0 3px 0;font-weight:normal;}
div#right h4 {font-size:13px;font-weight:bold;color:#0E5376;padding:30px 0 0 0;}
div#right hr {width:100%;margin:10px 0 10px 0;text-align:left;border: 1px dotted #54add6;border-style:none none dotted;}
div#right p {clear:both; font-size:12px;margin:0 10px 0 0;line-height:25px;color:#000; }
div#right ul {font-size:12px;color:#000;margin:0 0 0 15px;}
div#right ul li {line-height:25px;list-style-type:disc;padding:0 0 0 20px;}
div#right a {font-size:12px;color:#d67500;text-decoration:none;}
div#right a:hover {text-decoration:underline;}

/*A Great Department*/
div#maincontent div.department img {padding-top: 20px;}
div#maincontent div.department ul {margin:0;}
div#maincontent div.department li {background:url(../images/leftmenu_bullet.jpg) no-repeat 0 8px;font-family:Arial,san-serif;font-size:12px;padding:0 0 0 20px;line-height:25px; list-style-type:none;}
div#maincontent div.department li a {color:#d67500;text-decoration:none;}
div#maincontent div.department li a:hover {color:#2ca3db; text-decoration:underline;}

/* AGD family & testimonies */
div#maincontent div.family h4 {font-size:13px;font-weight:bold;color:#0e5376;padding:0;line-height:15px; }
div#maincontent div.family p {font-size:12px;	color:#000;}
div#maincontent div.family ul {font-size:12px;color:#000;margin:20px 0 0 0;padding:0;}
div#maincontent div.family ul li {display: block; padding:10px 0 20px 0; clear:both; list-style-type:none; overflow:hidden;}
div#maincontent div.family ul li div.post-image-holder{width: 181px; float:left;}
div#maincontent div.family ul li div.post-image-holder img{padding-top:4px;}
div#maincontent div.family ul li div.post-details-holder{ width: 500px; float:left; padding-left:10px;}
div#maincontent div.family ul li div.post-details-holder h4 {margin-left:20px;}
div#maincontent div.family ul li div.post-details-holder p {margin-left:20px;}
div#maincontent div.family ul li div.post-details-holder a {font-weight:bold;text-decoration:none;color:#e68629;margin-left: 20px;}
div#maincontent div.family ul li div.post-details-holder a:hover {text-decoration:underline;}