/* CSS Document */

/*Assurance and Review*/
div#rightAssurance {font-family:Arial,san-serif;margin:20px 0 0 0;padding:0 0 0 30px;width:700px;border-left:1px dotted #168fc7;float:left;}
div#rightAssurance h2 {font-size:18px;font-weight:bold;color:#0e5376;padding: 0 0 8px 0;}
div#rightAssurance h3 {font-size:16px;color:#0e5376;padding: 0 0 3px 0;font-weight:normal;}
div#rightAssurance h4 {font-size:13px;font-weight:bold;color:#0e5376;padding:30px 0 0 0;}
div#rightAssurance hr {width:100%;margin:10px 0 10px 0;text-align:left;border: 1px dotted #54add6;border-style:none none dotted;}
div#rightAssurance p {font-size:12px;margin:20px 10px 0 0;line-height:25px;color:#000; }
div#rightAssurance ul {font-size:12px;color:#000;margin:0 0 0 15px;}
div#rightAssurance ul li {line-height:25px;list-style-type:disc;padding:0 0 0 20px;}
div#rightAssurance a {font-weight:bold;text-decoration:none;}
div#maincontent ul#left li {background:none !important; padding-left:0;}
div#maincontent ul#left li ul li{background:url(../images/leftmenu_bullet.jpg) no-repeat 0 8px !important; padding-left:20px;margin-left:20px;}
.toggle{background: none; padding:0 10px 0 0; color:#D67500 !important;}
#footer {text-align: left;}
/*.accp{font-size:16px;}*/


/*Financial Administration*/
div#rightFinancialAdmin {font-family:Arial,san-serif;margin:20px 0 0 0;padding:0 0 0 30px;width:700px;border-left:1px dotted #168fc7;float:left;}
div#rightFinancialAdmin h2 {font-size:18px;font-weight:bold;color:#0e5376;padding: 0 0 8px 0;}
div#rightFinancialAdmin h3 {font-size:16px;color:#0e5376;padding: 0 0 3px 0;font-weight:normal;}
div#rightFinancialAdmin h4 {font-size:13px;font-weight:bold;color:#0e5376;padding:20px 0 0 0;}
div#rightFinancialAdmin hr {width:100%;margin:10px 0 10px 0;text-align:left;border: 1px dotted #54add6;border-style:none none dotted;}
div#rightFinancialAdmin p {font-size:12px;margin:20px 10px 0 0;line-height:25px;color:#000; }
div#rightFinancialAdmin ul {font-size:12px;color:#000;margin:0 0 0 15px;}
div#rightFinancialAdmin ul li {line-height:25px;list-style-type:disc;padding:0 0 0 20px;}
div#rightFinancialAdmin img {margin:10px 0 0 50px;}
div#rightFinancialAdmin img.imginline {margin:0;float:left;padding:10px 20px 0 0;}
div#rightFinancialAdmin a {font-weight:bold;text-decoration:none;color:#0E5376;}


/*Financial and Management Reporting*/
div#rightFinancialManagement {font-family:Arial,san-serif;margin:20px 0 0 0;padding:0 0 0 30px;width:700px;border-left:1px dotted #168fc7;float:left;}
div#rightFinancialManagement h2 {font-size:18px;font-weight:bold;color:#0e5376;padding: 0 0 8px 0;}
div#rightFinancialManagement h3 {font-size:16px;color:#0e5376;padding: 0 0 3px 0;font-weight:normal;}
div#rightFinancialManagement h4 {font-size:13px;font-weight:bold;color:#0e5376;padding:15px 0 0 0;}
div#rightFinancialManagement h5 {font-size:13px;font-weight:bold;color:#000;padding:40px 0 0 0;}
div#rightFinancialManagement hr {width:100%;margin:10px 0 10px 0;text-align:left;border: 1px dotted #54add6;border-style:none none dotted;}
div#rightFinancialManagement p {font-size:12px;margin:20px 10px 0 0;line-height:25px;color:#000; }
div#rightFinancialManagement ul {font-size:12px;color:#000;margin:0 0 0 15px;}
div#rightFinancialManagement ul li {line-height:25px;list-style-type:disc;padding:0 0 0 20px;}
div#rightFinancialManagement a {font-size:13px;font-weight:bold;color:#D67500;text-decoration:none;}


/*Treasury*/
div#rightTreasury {font-family:Arial,san-serif;margin:20px 0 0 0;padding:0 0 0 30px;width:700px;border-left:1px dotted #168fc7;float:left;}
div#rightTreasury h2 {font-size:18px;font-weight:bold;color:#0e5376;padding: 0 0 8px 0;font-weight:bold;}
div#rightTreasury h3 {font-size:16px;color:#0e5376;padding: 0 0 3px 0;font-weight:normal;}
div#rightTreasury h4 {font-size:13px;font-weight:bold;color:#0e5376;padding:15px 0 0 0;}
div#rightTreasury hr {width:100%;margin:10px 0 10px 0;text-align:left;border: 1px dotted #54add6;border-style:none none dotted;}
div#rightTreasury p {font-size:12px;margin:20px 10px 0 0;line-height:25px;color:#000; }
div#rightTreasury ul {font-size:12px;color:#000;margin:0 0 0 15px;}
div#rightTreasury ul li {line-height:25px;list-style-type:disc;padding:0 0 0 20px;}
div#rightTreasury a {font-size:13px;font-weight:bold;color:#0E5376;text-decoration:none;}
div#rightTreasury img {margin: 25px 0 0 20px;}


/*Overview*/
div#rightOverview {font-family:Arial,san-serif;margin:20px 0 0 0;padding:0 0 0 30px;width:700px;border-left:1px dotted #168fc7;float:left;}
div#rightOverview h2 {font-size:18px;font-weight:bold;color:#0e5376;padding: 0 0 8px 0;}
div#rightOverview h3 {font-size:16px;color:#0e5376;padding: 0 0 3px 0;font-weight:normal;}
div#rightOverview h4 {font-size:13px;margin-left: 20px; font-weight:bold;color:#0e5376;padding:0;line-height:10px;}
div#rightOverview hr {width:100%;margin:10px 0 10px 0;text-align:left;border: 1px dotted #54add6;border-style:none none dotted;}
div#rightOverview p {font-size:12px;line-height:15px;color:#000; }
div#rightOverview ul {font-size:12px;color:#000;margin:20px 0 0 0;padding:0}
div#rightOverview ul li {line-height:25px;padding:0;clear:both;height:125px;}


div#rightOverview h4 {font-size:13px;margin-left: 20px; font-weight:bold;color:#0e5376;padding:0;line-height:10px;}
div#rightOverview ul p{font-size:12px;margin:10px 10px 0 20px;line-height:20px;color:#000; width:450px;}
div#rightOverview ul {font-size:12px;color:#000;}
div#rightOverview ul li {display: block; clear:both; list-style-type:none;}
div#rightOverview ul li div.post-image-holder{width: 181px; float:left;}
div#rightOverview ul li div.post-details-holder{ width: 500px; float:left; padding-left:10px;}
div#rightOverview ul li div.post-details-holder a {font-weight:bold;text-decoration:none;color:#e68629; margin-left:20px;}
div#rightOverview ul li div.post-details-holder a:hover {text-decoration:underline;}
 